@font-face {
    font-family: 'Lucky Change';
    src: url('LuckyChange-Regular.woff2') format('woff2'),
        url('LuckyChange-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

